* {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .container {
            display: inline-block;
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
            margin-right: 10px;
        }

        p {
            margin-bottom: 0;
            margin-top: 0;
        }

        .profile-picture {
            width: 200px;
            height: 200px;
            object-fit: cover;
            object-position: top;
            vertical-align: middle;
        }

        .mutual-friend-pic {
            width: 30px;
            height: 30px;
            border-radius: 100%;
            object-fit: cover;
            object-position: center;
            vertical-align: middle;
            margin-right: 5px;

        }

        .mutual-friend-pic-2 {
            width: 30px;
            height: 30px;
            border-radius: 100%;
            object-fit: cover;
            object-position: center;
            vertical-align: middle;
            margin-left: -25px;
        }

        .mutual-friend-box {
            margin-bottom: 9px;
        }

        .mutual-friend-box p {
            display: inline-block;
            vertical-align: middle;
            color: rgb(96, 96, 96);
        }

        .profile-name {
            font-size: large;
            font-weight: bold;
            margin-top: 9px;
            margin-bottom: 9px;
        }

        .profile-info {
            margin-left: 5px;
        }

        button {
            color: white;
            background-color: rgb(0, 123, 255);
            border: none;
            padding: 5px 10px;
            border-radius: 5px;
            margin-bottom: 10px;
            font-size: medium;
        }

        #brad-pitt-pic-mutual {
            object-fit: cover;
            object-position: top;
        }